<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Form</h1>
    <form action="/login">
        <label for="username">Userame</label>
        <input type="text" placeholder="admin"> <br>
        <label for="password">password</label>
        <input type="text"> <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>