<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <p><input type="text" placeholder="Name" name="name"></p>
        <p><input type="text" placeholder="Email" name="email"></p> 
        <p><input type="text" placeholder="Password" name="password"></p> 
        <button type="submit">Register</button>
    </form>
    <p>
        Already a member? <a href="/login">login</a> here!
    </p>
</body>
</html>